# Ignore dependencies
node_modules/
.pnpm-store/

# Ignore build outputs
.next/
**/.next/
dist/
**/dist/
build/
out/
**/out/
apps/*/.next/
packages/*/dist/
**/dist/**
**/.turbo/
**/coverage/

# Ignore everything in dist except built files
**/dist/*.tsbuildinfo
**/dist/**/*.map

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
.env.*
.env.local
.env.local*
.env.*.local

# Ignore logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
buil*.log
lint.log
typecheck.log

# Ignore IDE configs
.vscode/
.idea/

# Ignore runtime caches
node-compile-cache/

#stop committing compiled output into source folders
apps/site/**/*.js
apps/site/**/*.js.map
apps/site/app/**/*.js
apps/site/app/**/*.js.map
apps/site/src/**/*.js
apps/site/src/**/*.js.map
apps/site/app/**/*.d.ts
apps/site/app/**/*.d.ts.map
apps/site/src/**/*.d.ts
apps/site/src/**/*.d.ts.map

knip.*.json

#Vercel
.vercel/
_vercel_backup/
vercel-env-*.txt